.image-container.ng-enter,
.image-container.ng-leave {
  opacity: 0;
  @include prefix(transition, all 1000ms ease-in-out);
}

.image-container.ng-enter {
  opacity: 0;
  @include prefix(transform, scale3d(0.98, 0.98, 0.98));
}

.image-container.ng-enter-stagger {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay:0.5s;
  transition-delay:0.5s;
}

.image-container.ng-enter-active {
  opacity: 1;
  @include prefix(transform, scale3d(1, 1, 1));
}

.image-container.ng-leave{
  opacity: 0;
}

.image-container.ng-leave-active  {
  opacity: 0;
}
